<app-navbar></app-navbar>

<div class="container">
    <div class="row">
        <div class="col-3">
            <h1>Name: </h1>
            <p>{{ pokemon.name }}</p>
            <h4>Image:</h4>
            <img src="{{ pokemon.img }}">
            <h4>Ability:</h4>
            <ul *ngFor="let ability of pokemon.abilities">
                <li>{{ ability.ability.name }}</li>
            </ul>
            <h4>Generation:</h4>
            <ul *ngFor="let generation of pokemon.generation">
                <li>{{ generation.version.name }}</li>
            </ul>
        </div>
    </div>
</div>