.fondo {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/9/98/International_Pok%C3%A9mon_logo.svg/700px-International_Pok%C3%A9mon_logo.svg.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
  