<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col cl-text mx-3 text-center">
            <h3>Bienvenido a la app de Pokemon</h3>
            <div class="col mt-5">
                <h5>¿Quieres saber más sobre los personajes? <br> <small>Clica en el primer botón</small></h5>
                <h5>¿Quieres saber más sobre nosotros? <br> <small>Clica en el segundo botón</small></h5>
            </div>
            <div class="col d-flex cl-btn justify-content-center">
                <div routerLink="/PokemonList" class="btn btn-secondary mx-3 mt-5" tabindex="0">
                    Pokemons</div>
                <div routerLink="/about" class="btn btn-secondary mx-3 mt-5" tabindex="0">About</div>
            </div>
        </div>
        <div class="col fondo"></div>
    </div>
</div>